<h1>Welcome to wikiful <h1>
<h3>Here are some recent articles:</h3>

<%= @recent_articles.each do |article| %>
	<p> Title: <%= article.title %> </p>
	<p> Published at: <%= article.created_at.strftime('%b %d, %Y') %> </p>
	<p> Featured in these categories: 
	 <% article.categories.each do |category| %>
	 <%= category.name %> &nbsp;
	 <% end %>
	</p>
	<p> <%= truncate(article.content, :length => 100) %>
<% end %>	 







